<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <script type="text/javascript">
        function EnableDisableTextBox(deadlinetrue) {
            var deadline = document.getElementById("deadline");
            deadline.disabled = deadlinetrue.checked ? false : true;
            if (!deadline.disabled) {
                deadline.focus();
            }
        }
    </script>
</head>

<body>
    <div>
        <section>
            <div class = "input">
                <form action="/add" method="post">
                    <div>
                        <label>Todo task</label>
                        <input type="text" name="task" placeholder="Enter a Task">
                        <label for="category">Task Category</label>
                        <select id="category" name="category">
                            <option value="House Chore">House Chore</option>
                            <option value="Meeting or Visit">Meeting or Visit</option>
                            <option value="Recreational">Recreational</option>
                            <option value="Other">Other</option>
                        </select>
                        <br>
                        <label for="deadlinetrue"> Deadline?</label>
                        <input type="checkbox" id="deadlinetrue" name="deadlinetrue" value="true" onclick="EnableDisableTextBox(this)">
                        <input type="date" id="deadline" name="deadline" disabled="disabled" />
                        <button class="button" type="submit">Add a Task</button>
                    </div>
                    {% if message %}
                        <p>{{message}}</p>
                    {% endif %}
                </form>
            </div>
            <div class = "list">
                <div class = "header">
                    <h1>To Do List</h1>
                </div>
                <div class = "tasks">
                    {% for todo in todo_list %}
                    <form action="/edit/{{todo.id}}" method="post">
                        <div>
                            <h2>{{todo.task}}</h2>
                            <h3>{{todo.category}}</h3>
                                {% if todo.complete==False %}
                            <p>Date allocated: {{todo.date}} ❌</p>
                                    {% else %}
                            <p>Date allocated: {{todo.date}} ✅</p>
                                {% endif %}
                                {% if todo.deadlinetrue==False %}
                            <p>Deadline assigned: ❌</p>
                                {% else %}
                            <p>Deadline assigned: {{todo.deadline}}</p>
                                {% endif %}
                            <input type="text" name="edit_todo" placeholder="Edit task?">
                            <button class="button" type="submit">Edit</button>
                        </div>
                    </form>
                    <div>
                        {% if todo.complete==False %}
                            <form action="/update/{{todo.id}}" method="post">
                                <button class="button" type="submit">Mark as complete</button>
                            </form>
                        {% else %}
                        <form action="/update/{{todo.id}}" method="post">
                            <button class="button" type="submit">Undo complete</button>
                        </form>
                        {% endif %}
                    </div>
                    <p><a href="/delete/{{todo.id}}">Delete Task?</a></p>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</body>

</html>