<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <script type="text/javascript">
        function EnableDisableTextBox(deadlinetrue) {
            var deadline = document.getElementById("deadline");
            deadline.disabled = deadlinetrue.checked ? false : true;
            if (!deadline.disabled) {
                deadline.focus();
            }
        }
    </script>
</head>

<!-- The Head tags has some Javascript code in it to work in conjunction with the deadline text box on the HTML proper.
        It follows a value from a checkbox, assigned to "deadlinetrue".
        If the checkbox is not disabled, only then will the text box activate itself, or focus.
        One thing that would be cool to add in the future is some blanking out of dates in the past.
        But that will require a lot more JavaScript related research. -->

<body>
    <div>
        <section>
            <div class = "input">
                <div class = "task-insert">
                    <h1>Insert Task</h1>
                    <form action="/add" method="post">
                        <div>
                            <label>Todo task</label>
                            <input type="text" name="task" placeholder="Enter a Task">
                            <br>
                            <label for="category">Task Category</label>
                            <select id="category" name="category">
                                <option value="House Chore">House Chore</option>
                                <option value="Meeting or Visit">Meeting or Visit</option>
                                <option value="Recreational">Recreational</option>
                                <option value="Other">Other</option>
                            </select>
                            <br>

<!-- Category selection above is represented by a drop down box, showcasing several pre-selected options.-->

                            <label for="deadlinetrue"> Deadline?</label>
                            <input type="checkbox" id="deadlinetrue" name="deadlinetrue" value="true" onclick="EnableDisableTextBox(this)">
                            <input type="date" id="deadline" name="deadline" disabled="disabled" />

<!-- As mentioned above, a checkbox combined with a text box operates the Deadline related variables. -->

                            <button class="button" type="submit">Add a Task</button>
                        </div>
                        {% if message %}
                            <p>{{message}}</p>
                        {% endif %}
                    </form>
                    <br>
                </div>
                <div class="clipboard">
                    <img src="./static/clipboard.png" alt="Insert your tasks above this image of a clipboard.">
                </div>
            </div>

<!-- On the right hand page according to the CSS, the task list will display.  -->

            <div class = "list">
                <div class = "header">
                    <h1>To Do List</h1>
                </div>
                <div class = "tasks">
                    {% for todo in todo_list %}
                    <form action="/edit/{{todo.id}}" method="post">
                        <div>
                            <h3>{{todo.task}} [{{todo.category}}]</h2>
                            <p>
                                {% if todo.complete==False %}
                            Date allocated: {{todo.date}} ❌ | 
                                    {% else %}
                            Date allocated: {{todo.date}} ✅ |
                                {% endif %}
                                {% if todo.deadlinetrue==False %}
                            Deadline assigned: ❌
                                {% else %}
                            Deadline assigned: {{todo.deadline}}
                                {% endif %}
                            <input type="text" name="edit_todo" placeholder="Edit task?">
                            <button class="button" type="submit">Edit</button>
                            </p>
                        </div>
                    </form>

<!-- All tasks are listed via this For loop here.  Presentation would depend entirely on the CSS coding.  -->

                    <div class="edit-buttons">
                        {% if todo.complete==False %}
                            <form action="/update/{{todo.id}}" method="post">
                                <button class="button-update" type="submit">Mark as complete</button>
                            </form>
                        {% else %}
                        <form action="/update/{{todo.id}}" method="post">
                            <button class="button-update" type="submit">Undo complete</button>
                        </form>
                        {% endif %}

<!-- There is some accident handling with the Undo button, in case one thinks they've done a task but actually had not.-->

                        <form action="/delete/{{todo.id}}" method="post">
                        <button class="button-delete" type="submit">Delete Task</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</body>

</html>