body{
    background-image:linear-gradient(to right,rgb(31, 31, 31),rgb(60, 60, 60));
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 2%; 
    padding: 0; 
    width: auto;
}
p {
    color:aqua;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.25em;
}
label {
    font-size:1.25em;
}
h1 {
    font-family:'Courier New', Courier, monospace;
    font-size:4em;
    text-align:center
}
h2 {
    font-family:'Courier New', Courier, monospace;
    font-size:2.5em;
    text-align:center
}
h3 {
    font-family:'Courier New', Courier, monospace;
    font-size:2em;
    text-align:center
}
a:link {
    color: rgb(0, 166, 255);
}

a:visited {
    color: rgb(45, 174, 210);
}

a:hover {
    color: rgb(255, 255, 110);
}
input[type=text] {
    border: 2px solid rgb(91, 159, 255);
    border-radius: 4px;
}
.button {
    background-color: #0412aa;
    border: 2px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.button-update {
    background-color: #0412aa;
    border: 2px solid white;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size:1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.button-delete {
    background-color: #701e02;
    border: 2px solid white;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size:1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
section {
    height:95vh;
    border: 2px solid gray;
    display:flex;
    justify-content:space-between;
}

/* The section above was needed to fit in both the Input form and the List in separate Div boxes.
    Both have different classes as seen below, to separate the two of them.
    Extra time would've meant the idea of changing the layout with different media queries.
    As of right now, the layout is more optimized for Desktop / Horizontal, rather than any vertical screens. */

.list {
    background-color: rgba(128, 128, 128, .4);
    width: 48%;
    text-align:center;
}
.input {
    background-color: rgba(128,255,255, .4);
    height:100%;
    width: 48%;
    text-align: center;
    vertical-align:top;
    display:flex;
    flex-direction:column;
}
.edit-buttons {
    display:flex;
    justify-content: center;
}
.header {
    background-color: rgba(200,200,200, .4)
}
.task-insert{
    width:100%;
}
.clipboard {
    background-color: rgba(128,255,255, .4);
    width: 100%;
    height:50%;
    text-align: center;
}
img {
    height:100%;
    object-fit:contain;
    align-content:center;
}